*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --purple: #9b5de5;
    --pink: #f15bb5;
    --yellow: #fee440;
    --blue: #00bbf9;
    --green: #00f5d4;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popit{
    width: 450px;
    height: 450px;
    background-color: blue;
    border-radius: 30px;
    overflow: hidden;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.row:nth-child(1){
    background-color: var(--purple);
}

.row:nth-child(2){
    background-color: var(--pink);
}

.row:nth-child(3){
    background-color: var(--yellow);
}

.row:nth-child(4){
    background-color: var(--blue);
}

.row:nth-child(5){
    background-color: var(--green);
}

.pop{
    box-shadow: inset 0 -15px 25px -3px #585858;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
}

.pop_down{
    box-shadow: inset 0 10px 25px -3px #000000;

}

button {
    padding: 20px 40px;
    margin: 20px;
    border-radius: 50px;
    background-color: var(--purple);
    border: none;
    color: white;
    font-weight: bold;
}

button:hover{
    background-color: #62329e;
}

button:active{
    background-color: #37175e;
}